.nuxt-content {
    width: 100%;
    text-align: left;

    > * + * {
        margin-top: 16px;
    }

    h2,
    h3 {
        text-align: center;
    }

    h4 {
        margin-top: 24px;
    }

    hr {
        display: block;
        width: 100%;
        height: 2px;
        padding: 0;
        margin: 24px 0;
        background-color: #d7d7d7;
        border: 0;
    }

    blockquote {
        padding: 0 0 0 16px;
        // color: #3d3d3d;
        color: rgba(0, 0, 0, 0.65);
        border-left: 4px solid #d7d7d7;
        // margin-top: 24px;

        & + blockquote {
            margin: 0;
            padding-top: 16px;
        }

        & + * {
            margin-top: 24px;
        }
    }

    .nuxt-content-highlight pre {
        margin: 0;
        background: #e6e6e6;
        border-radius: 4px;
        padding: 16px;

        .token.operator {
            background: transparent;
        }
    }

    audio {
        display: block;
        width: 100%;
        max-width: 450px;
        margin: 16px auto 0;

        & + * {
            margin-top: 24px;
        }
    }

    audio::-webkit-media-controls-panel {
        background: #e6e6e6;
    }

    .wave-plot {
        display: block;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        padding: 4px;
        background: $background-color;
        box-shadow: 8px 8px 20px #c9c9c9, -8px -8px 20px #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 4px;

        & + * {
            margin-top: 24px;
        }
    }

    > * + .wave-plot {
        margin-top: 24px;
    }

    .embedded-video-container {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;

        & + * {
            margin-top: 24px;
        }
    }

    > * + .embedded-video-container {
        margin-top: 24px;
    }
}
